body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color:  hsl(237, 12%, 33%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E1E1E1;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Kumbh Sans', sans-serif;
  src: url('https://fonts.google.com/specimen/Kumbh+Sans');
}